[gttp]
	sslVerify = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
  name = métaboulie
  email = heinereugene@pm.me
[core]
  editor = nvim
[init]
  defaultBranch = main
  default = branch
[color]
  ui = auto
[github]
  user = metaboulie
